{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center">
  <div class="single-cont-center flex-fill">
    <h3 class="py-3">Device list</h3>
    {% if not devices %}
    <hr>
    <h4>There are no devices registered yet</h4>
    {% endif %}
    {% for d in devices %}
    <!-- TODO: implement modal for edit and delete forms/actions -->
    <div class="card my-3">
      <div class="card-header text-white text-center d-flex {{'card-header-exp' if d.dev_type == 'expansion'}}">
        <div class="mr-auto"><strong>{{d.name}}</strong></div>
        <!-- Price is optional -->
        {% if current_user.show_prices %}
        <div class="mx-2">Price: ${{d.price | int}}</div>
        {% endif %}
        <div class="mx-2">{{d.dev_type}}</div>
        {% if d.has_clock %}
        <div class="mx-2"><i class="bi bi-clock"></i></div>
        {% endif %}
      </div>
      <div class="container">
        <div class="row border py-1">
          <div class="col border-right">
            DI: {{d.di}}
          </div>
          <div class="col border-right">
            AI: {{d.ai}}
          </div>
          <div class="col">
            UI: {{d.ui}}
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row border py-1">
          <div class="col border-right">
            DO: {{d.do}}
          </div>
          <div class="col border-right">
            AO: {{d.ao}}
          </div>
          <div class="col">
            CO: {{d.co}}
          </div>
        </div>
      </div>
      <div class="btn-group " role="group" aria-label="Second group">
        <button type="button" class="btn btn-outline-success btn-sm"><i class="bi bi-pencil mx-2"></i>Edit</button>
        <button type="button" class="btn btn-outline-danger btn-sm"> <i class="bi bi-trash mx-2"></i>Delete</button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}