{% extends "base.html" %}

{% block content %}

<div class="wrapper">

  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="custom-menu">
      <button type="button" id="sidebarCollapse" class="btn btn-primary">
        <i class="bi bi-list"></i>
        <span class="sr-only">Toggle Menu</span>
      </button>
    </div>
    {% include "sidebar.html" %}
  </nav>

  <!-- Page Content -->
  <br>


  <br>
  <div id="content-manage">

    {% if devices %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">NAME</th>
          <th scope="col">DI</th>
          <th scope="col">AI</th>
          <th scope="col">UI</th>
          <th scope="col">DO</th>
          <th scope="col">AO</th>
          <th scope="col">CO</th>
          <th scope="col">SCH</th>
          <th scope="col">TYPE</th>
          <th scope="col">MODIFIED BY</th>
        </tr>
      </thead>
      <tbody>
        {% for d in devices %}
        <tr>
          <th scope="row">{{d.name}}</th>
          <td>{{d.di}}</td>
          <td>{{d.ai}}</td>
          <td>{{d.ui}}</td>
          <td>{{d.do}}</td>
          <td>{{d.ao}}</td>
          <td>{{d.co}}</td>
          <td>{{d.has_clock}}</td>
          <td>{{d.dev_type}}</td>
          <td>{{d.user_modified}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>there are no devices registered yet </p>
    {% endif %}

  </div>
  <!-- We'll fill this with dummy content -->
  <p>Report your issues to the following email: {{info_email}}</p>
</div>

<script src="/static/sidebar.js" defer></script>

{% endblock %}