
{% extends "base.html" %}

{% block content %}

<div class="wrapper">

  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="custom-menu">
      <button type="button" id="sidebarCollapse" class="btn btn-primary">
        <i class="bi bi-list"></i>
        <span class="sr-only">Toggle Menu</span>
      </button>
    </div>
    {% include "sidebar.html" %}
  </nav>

  <!-- Page Content -->
  <div id="content-manage" >
      <!-- We'll fill this with dummy content -->
      <p>Report your issues to the following email: {{info_email}}</p>
  </div>

</div>  

<script src="/static/sidebar.js" defer></script>

{% endblock %}