<nav class="navbar navbar-expand-sm navbar-dark navbar-custom navbar-fixed-top">
  <a class="navbar-brand" href="{{ url_for('main.index') }}"> DVC Device Selector </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if current_user.is_authenticated %}
    <ul class="navbar-nav me-auto ">
      <li class="navbar-text pb-1"> Welcome back, {{current_user.name}}.</li>
    </ul>
    {% endif %}
    <ul class="navbar-nav ml-auto">

      {% if current_user.is_authenticated %}
      <li class="nav-item dropdown navbar-dark ">
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-sliders" style="font-size: 1.3rem; "></i>
          <div class="ml-2">Settings</div>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="dropdown-item" id="price-switch">
            <div class="custom-control custom-switch">
              <form>
                {% if current_user.show_prices %}
                <input type="checkbox" checked class="custom-control-input" id="cPriceSwitch">
                {% else %}
                <input type="checkbox" class="custom-control-input" id="cPriceSwitch">
                {% endif %}
                <label class="custom-control-label" for="cPriceSwitch">Show prices</label>
              </form>
            </div>
          </div>
          <a class="dropdown-item" href="{{url_for('main.add_device')}}">New Device</a>
          <a class="dropdown-item" href="{{url_for('main.manage_devices')}}">Manage devices</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('main.device_preferences') }}">Enable/disable devices</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center" href="{{ url_for('main.device_preferences') }}">
          <i class="bi bi-person-circle" style="font-size: 1.3rem; color: rgb(216, 216, 216);"></i>
          <div class="ml-2">{{current_user.name}}'s Profile</div>
        </a>
      </li>
      {% endif %}
      {% if not current_user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center" href="{{ url_for('auth.login') }}">
          <i class="bi bi-person-circle" style="font-size: 1.3rem; color: rgb(216, 216, 216);"></i>
          <div class="ml-2">Login</div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center" href="{{ url_for('auth.signup') }}">
          <i class="bi bi-person-plus-fill" style="font-size: 1.3rem; color: rgb(216, 216, 216);"></i>
          <div class="ml-2">Signup</div>
        </a>
      </li>
      {% endif %}
      {% if current_user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center" href="{{ url_for('auth.logout') }}">
          <i class="bi bi-door-closed-fill" style="font-size: 1.3rem; color: rgb(216, 216, 216);"></i>
          <div class="ml-2">Logout</div>
        </a>
      </li>
      {% endif %}

    </ul>
  </div>
</nav>