{% extends "base.html" %}
{% block content %}
<!-- New device form -->
<div class="d-flex justify-content-center">
  <div class="single-cont-center flex-fill">
    <div class="card mt-3">
      <div class="card-header text-white text-center">
        <strong>New Device</strong>
      </div>
      <div class="card-body">
        <form method="POST" action="/new-dev">
          {{ form.csrf_token }}
          <div class="form-group">
            {{form.name.label(class='mb-0')}}
            {{ form.name(class='form-control', placeholder='Device Name') }}
          </div>
          <div class="form-group">
            {{form.dev_type.label(class='mb-0')}}
            {{ form.dev_type(class='form-control') }}
          </div>
          <div class="form-group">
            {{form.di.label(class='mb-0')}}
            {{ form.di(class='form-control', type='number') }}
          </div>
          <div class="form-group">
            {{form.ai.label(class='mb-0')}}
            {{ form.ai(class='form-control', type='number') }}
          </div>
          <div class="form-group">
            {{form.ui.label(class='mb-0')}}
            {{ form.ui(class='form-control', type='number') }}
          </div>
          <div class="form-group">
            {{form.do.label(class='mb-0')}}
            {{ form.do(class='form-control', type='number') }}
          </div>
          <div class="form-group">
            {{form.ao.label(class='mb-0')}}
            {{ form.ao(class='form-control', type='number') }}
          </div>
          <div class="form-group">
            {{form.co.label(class='mb-0')}}
            {{ form.co(class='form-control', type='number') }}
          </div>
          <div class="form-group">
            {{form.has_clock.label(class='mb-0')}}
            {{ form.has_clock(class='form-control') }}
          </div>
          <div class="form-group">
            {{form.price.label(class='mb-0')}}
            {{ form.price(class='form-control') }}
          </div>
          <div class="float-right">
            {{ form.submit(class='btn btn-success') }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}