{% extends "base.html" %}

{% block content %}

{% if form: %}
<div class="d-flex justify-content-center">
  <div class="single-cont-center flex-fill">
    <div class="card mt-5">
      <div class="card-header text-white text-center">
        <strong>Signup</strong>
      </div>
      <div class="card-body">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger" role="alert">
          {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
          {{ form.csrf_token }}
          <div class="form-group">
            {{ form.name(class='form-control', placeholder='Your Name') }}
          </div>
          <div class="form-group">
            {{ form.email(class='form-control', placeholder='Your e-mail') }}
          </div>
          <div class="form-group">
            {{ form.password(class='form-control', placeholder='Password') }}
          </div>
          <div class="form-group">
            {{ form.confirm(class='form-control', placeholder='Confirm your password') }}
          </div>
          <div class="form-group">
            {{ form.recaptchaf }}
          </div>
          <div class="float-right">
            {{ form.submit(class='btn btn-success') }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% else: %}

<br>
<div class="card mx-auto" style="max-width: 30rem;">
  <div class="card-header text-white text-center">
    <strong>User details</strong>
  </div>
  <div class="card-body">
    To login you have to request an account to the following email : {{info_email}}
    Stating your name, company and why do you want access to the service.
    <br>
    <br>
    <form action="{{ url_for('main.index') }}">
      <div class="text-center">
        <button type="submit" class="btn btn-success">Home</button>
      </div>
    </form>
  </div>
</div>
{% endif %}

{% endblock %}