<p><h1>Hi {{ current_user.name }} you made it here, good!</h1></p>
<div class="container-level2">
<div class="card mx-auto" style="max-width: 30rem;">
  <div class="card-header text-white text-center">
    <strong>REQUIRED I/O's</strong> 
  </div>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">di</th>
          <th scope="col">ai</th>
          <th scope="col">do</th>
          <th scope="col">ao</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="number" name="di" min="0" max="200" value=0></td>
          <td><input type="number" name="ai" min="0" max="200" value=0></td>
          <td><input type="number" name="do" min="0" max="200" value=0></td>
          <td><input type="number" name="ao" min="0" max="200" value=0></td>
        </tr>
      </tbody>
    </table>     
  </div>
</div>
</div>
<br>
<div class="text-center">
  <a href="#" class="btn btn-outline-info btn-lg">Enlighten me!</a>
</div>
<div class="text-center" style="max-width: 33rem;">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris feugiat erat nec augue efficitur consequat. Curabitur eget pharetra magna. Nunc lacinia imperdiet aliquam. Aliquam nibh nunc, faucibus eu fermentum sit amet, ultricies et nibh. Maecenas mauris elit, vehicula eget leo sit amet, rutrum varius ex. Nullam consequat ut eros vitae pretium. Suspendisse potenti. Donec interdum ex eu aliquet laoreet.
  <br>
  Ut varius interdum dui, a tincidunt mauris sagittis non. Mauris pharetra volutpat turpis quis accumsan. Fusce a lacus diam. In tempor placerat urna, et volutpat sapien tincidunt eu. Sed vehicula erat mi, sit amet porta mi tristique vel. Fusce ac ipsum ut nisi luctus lobortis vel ut purus. Donec sodales sapien metus, eu feugiat velit venenatis pharetra. In justo metus, convallis non maximus non, tincidunt malesuada libero. Etiam vel neque eget sapien viverra blandit sit amet vel massa. Integer porta, mi eget maximus maximus, magna nibh pellentesque felis, eget viverra nisi purus at tortor. Nullam auctor dignissim diam, sit amet auctor lectus egestas sit amet. Quisque et auctor odio. Phasellus placerat pretium purus, non tempor nunc scelerisque id. Ut aliquam dolor ut neque eleifend, eget auctor enim eleifend.
  <br>
  Etiam fringilla gravida metus at commodo. Etiam vel consequat eros. Suspendisse tellus risus, posuere sit amet justo a, dignissim aliquam nulla. Nam accumsan, magna sit amet maximus congue, eros ante consectetur magna, ut sollicitudin nisi dolor at ex. Vestibulum sit amet varius orci. Integer bibendum tellus quis scelerisque molestie. Curabitur urna risus, facilisis sed nisi at, mattis mattis ipsum. Etiam dignissim velit eu magna imperdiet, a venenatis nulla gravida. Proin commodo tellus nunc, et molestie tellus laoreet non. Etiam nisl ipsum, lacinia vel magna in, blandit molestie enim. Morbi in massa sit amet tortor eleifend auctor. Donec vulputate efficitur felis vitae lacinia. Phasellus suscipit mi eros, a rutrum tellus vulputate ac.
  <br>
  Mauris egestas, neque quis sollicitudin fringilla, justo eros consectetur arcu, eget convallis enim diam et nunc. In non tempus ex. Sed aliquet elit mollis varius eleifend. Morbi cursus, massa ut pretium viverra, felis quam tristique neque, elementum imperdiet nisl metus et nunc. Donec fermentum convallis magna sit amet fermentum. Maecenas efficitur sit amet nisl et faucibus. Etiam euismod urna sagittis, rhoncus justo eget, accumsan sem. Suspendisse sit amet feugiat elit, in sagittis quam. Vestibulum massa tellus, ullamcorper a posuere ut, fermentum ac urna. Praesent vulputate libero et purus faucibus venenatis tincidunt ac ipsum. Vivamus at nibh a nibh accumsan placerat. Vestibulum sem sem, placerat a est quis, faucibus volutpat odio. Suspendisse sed purus at quam lacinia eleifend. 

</div>