/* navbar */
.navbar-custom {
  background-color: #19334d;
}

.navbar .dropdown-menu,
.dropdown-divider {
  background-color: #19334d;
  border-color: #152b41ce;
}

/* and this styles the dropdwon trigger link, when open */
.navbar .dropdown.show a {
  background-color: #19334d;
  color: #ddd;
}

.navbar .dropdown.show a:hover {
  background-color: #2e4863;
  color: #ddd;
}

.navbar .dropdown.show #price-switch {
  background-color: #19334d;
  color: #ddd;
}

.navbar .dropdown.show #price-switch:hover {
  background-color: #2e4863;
  color: #ddd;
}

/* general container */
.container-level1 {
  flex-grow: 1;
}

.container-level2 {
  flex-grow: 1;
}


/* table for the ctrl selector */
.tab1 {
  text-indent: 50px;
}

.card-header {
  background-color: #006699 !important;
}

.card-header-exp {
  background-color: #6c757d !important;
}

table td {
  position: relative;
}

table td input {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  padding: 10px;
  box-sizing: border-box;
}



/***** chequear esto con detenimiento****/
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}


ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
}


/********** Content in the center **********/

#content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content-about {
  margin-top: 50px;
  margin-left: 100px;
  width: 100%;
}

#content-manage {
  margin-top: 50px;
  width: 100%;
}

hr.myhr {
  border-top: 1px solid #aaaaaa;
}

.io-input-box {
  background-color: lightgray;
  width: 4.5rem;
  height: 5rem;
  border-radius: 10%;
}

/* Remove spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.single-cont-center {
  max-width: 30rem;
  min-width: 20rem;
}

.result-first-col {
  width: 110px;
}

.table-head-custom-bg {
  background-color: lightgray;
}