
{% extends "base.html" %}

{% block content %}

  <br>
  <div class="card mx-auto" style="max-width: 30rem; min-width: 20rem;">
    <div class="card-header text-white text-center">
      <strong>REQUIRED I/O's</strong> 
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">di</th>
            <th scope="col">ai</th>
            <th scope="col">do</th>
            <th scope="col">ao</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="number" name="di" min="0" max="200" value=0></td>
            <td><input type="number" name="ai" min="0" max="200" value=0></td>
            <td><input type="number" name="do" min="0" max="200" value=0></td>
            <td><input type="number" name="ao" min="0" max="200" value=0></td>
          </tr>
        </tbody>
      </table>     
    </div>
  </div>
  <br>
  <div class="text-center">
    <a href="#" class="btn btn-outline-info btn-lg">Enlighten me!</a>
  </div>

{% endblock %}
